:root{
  --row: 9;
  --col: 4;
  --size: 40px;
  --green-light: #aad751;
  --green-dark: #a2d149;
  --back-light: #e5c29f;
  --back-dark: #d7b899;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid{
  display: grid;
  grid-template-columns: repeat(var(--col), var(--size));
  grid-template-rows: repeat(var(--row), var(--size));
  align-items: center;
  justify-items: center;
}
.block{
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

.green-light{
  background-color: #c3ed70;
}

.green-dark{
  background-color: #a1d343;
}

.back-light{
  background-color: #d7a370;
}

.back-dark{
  background-color: #c1a488;
}

.back-light{
  background-color: #f3bf8b;
}

.back-dark{
  background-color: #d49860;
}
/* for centering */
.block {
  position: relative;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------end---- */


.cont {
  width:100%;
  display: flex;
  justify-content: center;
}

#reset-btn{
  margin-right: 10px;
}